<footer class="text-center">
    <section class="text-center d-flex pt-4">
        <div class="mx-auto text-center">
            <strong>Rowland Hall Robotics.</strong>
            </br>
            Website made from scratch with ❤️ by Milo Banks.
            </br>
            Rendered on {{ date }}.
        </div>
    </section>

    <div class="container text-center pt-3 pb-3">
        <a href="https://www.instagram.com/rh_iron_lions"><i class="fab fa-instagram px-3"
                style="font-size:30px; color: white"></i></a>
        <a href="https://www.instagram.com/rh_monochromats"><i class="fab fa-instagram px-3"
                style="font-size:30px; color: white"></i></a>
        <a href="https://youtube.com/ironlions19922"><i class="fab fa-youtube px-3"
                style="font-size:30px; color:white; "></i></a>
    </div>
</footer>