<nav class="navbar navbar-expand-lg navbar-light bg-light {% if occlude %}fixed-top{% endif %}">
    <a class="navbar-brand mini-name" href="/">Rowland Hall Robotics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/19922.html">The Iron Lions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/16748.html">The Monochromats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact.html">Contact Us</a>
            </li>

        </ul>
    </div>
</nav>